.container {
	width : 80%;
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
#inputDiv {
	display: inline-block;
	text-align: center;
	margin: 70px auto 60px;
	padding: 18px;


}
#convertButton, input[type="file"] {
	font-size: 20px;
	margin: 10px 0;
}
#outputDiv {
	width: 60%;	
	padding: 0;
}
#codeOutput {
	height: 400px;
	width: 100%;
	box-sizing: border-box;
	text-align: left;
	overflow: auto;
	color: var(--text);
	background-color : var(--common);
	margin-top: 15px;
	padding: 20px;
	border : 1px solid #AAA;
	border-radius: 10px;
	
	
}